.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    margin: 20px 0;
    width: 100%;
    flex-wrap: wrap;
     
}



.tech-skill-img{
    height: 50px;
    padding-bottom: 10px;
    width: 40px;
    
   
}

strong {
  font-weight: bold;
  font-size: 0.8em;

}

.icon-container{
    display: inline-block;
    position: relative;
    justify-content: space-between;
}

